# Server Config
PORT=5000

# MongoDB
MONGODB_URI=

# Redis
REDIS_URL=

# JWT Authentication
JWT_SECRET=
JWT_EXPIRES_IN=1d

# Google APIs (Gemini & Embeddings)
GOOGLE_API_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
